.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bigred {
  font-family: "Courier New";
  font-style: italic;
  font-size: xx-large;
  color: red;
}

.biggreen {
  font-family: "Courier New";
  font-style: italic;
  font-size: xx-large;
  color: green;
  font-weight: bold;
}

.buttontext {
  font-weight: bold;
}

.INFO3139textheader {
  font-weight: normal;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.light {
  border: solid;
  width: 4.25rem;
}
.lamp {
  height: 3rem;
  width: 3rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}
